body{
    background-color: peachpuff;
}
.wrapper .row .column{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
.heading{
    background-color: rgb(190, 157, 123);
}
a{
    color: rgb(100, 56, 13);
}
.wrapper .row .column img{
    height: 200px;
    width: 200px;
   }
   .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e79a51;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
  }